configuration {
   modi: "drun";
   width: 20;
   font: "DejaVu Sans Mono Nerd 12";
   show-icons: true; 
   icon-theme: "Obsidian";
   cycle: true;
   sidebar-mode: false;
   separator-style: "dash";
}
@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
