[Unit]
Description=Mailbox synchronization timer (INBOX/Sent folders)

[Timer]
OnBootSec=300
OnUnitActiveSec=120
Unit=mbsync-inbox.service

[Install]
WantedBy=timers.target
