[Unit]
Description=Mailbox synchronization timer (ALL folders)

[Timer]
OnBootSec=120
OnUnitActiveSec=600
Unit=mbsync-all.service

[Install]
WantedBy=timers.target
