[Unit]
Description=Mailbox synchronization service (ALL folders)

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -q all-folders

[Install]
WantedBy=timers.target
#WantedBy=default.target
